
.landing {
  max-width: 1100px;
  background: url("/public/landing.jpg") no-repeat center center/cover;
  height: 100vh;
}
.buttom-fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}
