/*

.intro-text {
  width: 85%;
  margin: auto;
  padding-bottom: 4rem;
}

.text-lead {
  font-size: larger;
  margin-left: 1rem;
  border-left: 2px solid;
} */

.landing {
  position: relative;
  background: url("/landing.jpg") no-repeat center center/cover;
  height: 30rem;
  /* width: 100%; */
}
.centered {
  text-align: center;
  margin: auto;
}
.buttom-fixed {
  position: absolute;
  width: 100%;
  text-align: center;
}
.landing-text-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #000409af;
  color: white;
  overflow: auto;
  text-align: center;
  font-size: large;
  opacity: 0.7;
}
.infront {
  z-index: 1;
}
